<div class="comments-section">
  <div class="existing-comments" *ngIf="comments!().length; else noComments" (scroll)="onScroll($event)">
    <div class="comment" *ngFor="let comment of comments!()">
      <img [src]="getAvatarUrl(comment.author.avatar)" class="avatar" />
      <div class="comment-content">
        <div class="comment-header">
          <span class="username">@{{ comment.author.username }}</span>
          <span class="timestamp">{{ comment.timestamp | date: 'short' }}</span>
          <button *ngIf="comment.author.username === currentuser" class="delete-btn" (click)="deleteComment(comment.id)">delete</button>
        </div>
        <p>{{ comment.content }}</p>
      </div>
    </div>
  </div>

  <ng-template #noComments>
    <p class="no-comments">No comments yet. Be the first to reply!</p>
  </ng-template>

  <form class="add-comment" (ngSubmit)="onSubmit(commentInput)">
    <input #commentInput type="text" placeholder="Write a comment..." required />
    <button type="submit">Comment</button>
  </form>
</div>
