<div class="admin-panel">
    <aside class="sidebar">
        <h2>Admin Panel</h2>
        <nav>
            <button (click)="currentView = 'dashboard'">Dashboard</button>
            <button (click)="currentView = 'posts'">Posts</button>
            <button (click)="currentView = 'users'">Users</button>
            <button routerLink="feed">Home</button>
            <button routerLink="/profile/admin">Profile</button>
        </nav>
    </aside>

    <main class="main-content">
        <header>
            <h1>Welcome, Admin</h1>
        </header>

        <section class="content">
            <app-dashboard *ngIf="currentView === 'dashboard'" [dashboard]="Dashboard()"></app-dashboard>
            <app-posts *ngIf="currentView === 'posts'" [posts]=Posts [reports]="Reports"></app-posts>
            <app-users *ngIf="currentView === 'users'"[users]="Users" [totalactiveusers]="admin.dashboard.totalactiveusers" [totalsuspendedusers]="admin.dashboard.totalsuspendedusers"[totalusers]="admin.dashboard.totalusers"></app-users>
        </section>
    </main>
</div>