body {
    background-color: #f9f9f9;
    overflow: hidden;
}
.my-snackbar-error {
  background-color: #d32f2f;  /* red background */
  color: white;               /* white text */
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
}